/* GERAIS */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --primary-color: #2595c2;
    --secondary-color: #0b3047;
    --tertiary-color: #E8E8E8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
}

#root {
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: var(--primary-color);
    padding: 0.75rem 1rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 200ms ease;
}

footer a:hover {
    color: #111;
}

main {
    background-color: var(--secondary-color);
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    border: 0;
    padding: 0.5rem;
    resize: none;
}

textarea {
    height: 120px;
}

button {
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* LOGIN */
#login-form-container {
    background-color: var(--primary-color);
    border-radius: 1rem;
    max-width: 500px;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.pass-container {
    position: relative;
}

.pass-container i {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    transition: all 200ms ease;
}

.pass-container i:hover {
    color: var(--secondary-color);
}

.btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

/* TaskPage Header */
#profile-options-container {
    display: flex;
    gap: 0.5rem;
}

#profile-options-container button {
    border: 0;
    background-color: transparent;
    font-size: 1.4rem;
    transition: all 200ms ease;
}

#profile-options-container button:hover {
    color: var(--tertiary-color);
}

/* TaskHeader */
h2 {
    color: var(--tertiary-color);
}

/* TaskForm */
#task-form-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
}

#task-form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* TABS */
#tabs-container {
    max-width: 500px;
    width: 100%;
    padding: 1rem 0;
}

nav {
    display: flex;
}

.tab-button {
    font-weight: bold;
    color: var(--tertiary-color);
    padding: 0.75rem;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
}

.tab-button:hover {
    background-color: #aaaaaa17;
}

.tab-selected {
    position: relative;
}

.tab-selected::after {
    content: '';
    background-color: var(--primary-color);
    position: absolute;
    bottom: -2.5px;
    left: 0;
    animation: widen 250ms ease forwards;
}

nav span {
    color: #999;
}

/* TaskList */
#task-list {
    max-width: 500px;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* TaskCard */
.task-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.task-card-title h4 {
    color: var(--tertiary-color);
    cursor: pointer;
}

.task-card-title h4:hover {
    color: var(--primary-color);
}

.task-card-title p {
    color: #bbb;
    padding-left: 1.2rem;
}

.task-card-btns {
    display: flex;
    gap: 0.5rem;
}

.task-card-btns button {
    border: 0;
    border-radius: 100%;
    font-size: 1.2rem;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    transition: all 200ms ease;
}

.task-card-btns button:hover {
    color: var(--secondary-color);
}

/* MODAL */
.modal {
    background-color: #0000007c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 1rem;
}

.modal-content {
    background-color: var(--primary-color);
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.close-modal-btn {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 15px;
    border: 0;
    font-size: 1.3rem;
    transition: all 200ms ease;
}

.close-modal-btn:hover {
    color: var(--secondary-color);
}

/* ShowTaskMODAL */
.show-task-modal, .edit-task-modal {
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.show-task-modal span {
    font-weight: bold;
    color: #111;
}

.show-task-modal .description {
    white-space: pre-wrap;
    background-color: var(--secondary-color);
    padding: 1rem 0.5rem;
    border-radius: 5px;
    overflow: auto;
    max-height: 400px;
}

/* EditTaskMODAL */
.edit-task-modal form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-task-modal form h3 {
    color: #111;
}

/* UserInfo MODAL */
.user-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.user-info-header {
    color: var(--tertiary-color);
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.user-info-body {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-info-body p {
    font-size: 1.1rem;
}

/* Reauthentication */
.reauth-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* UTILITARIOS */
.full-line {
    height: 1px;
    background-color: var(--secondary-color);
}

.main-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.2rem;
    border-radius: 50px;
    border: 0;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    transition: all 200ms ease;
}

.main-btn:hover {
    background-color: #1c5477;
}

.secondary-btn {
    background-color: transparent;
    color: var(--tertiary-color);
    font-size: 1rem;
    border: 0;
    padding: 0.5rem;
    flex: 1;
}

.secondary-btn:hover {
    text-decoration: underline;
}

.disabled-btn {
    opacity: 0.4;
}

/* ANIMATION */
@keyframes widen {
    from {
        width: 0;
        height: 1px;
        opacity: 0.6;
    } to {
        width: 100%;
        height: 3.5px;
        opacity: 1;
    }
}

/* MEDIA QUERIES */
@media (max-width: 444px) {
    .btns-container {
        flex-wrap: wrap;
    }
}